---
interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
}

const { href, variant = 'primary' } = Astro.props;
const className = ['button-link', `button-link--${variant}`].join(' ');
---

<a class={className} href={href}>
  <slot />
</a>
